LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "button" SITE "E14"; //left button
INPUT PORT "button" IO_TYPE=LVCMOS33;

LOCATE COMP "button2" SITE "D6"; 
INPUT PORT "button2" IO_TYPE=LVCMOS33;

LOCATE COMP "seg_display" SITE "C5"; 
INPUT PORT "seg_display" IO_TYPE=LVCMOS33;

LOCATE COMP "LED" SITE "A11";
IOBUF PORT "LED" IO_TYPE=LVCMOS33;

LOCATE COMP "LED2" SITE "B11";
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;


LOCATE COMP "seg7[0]" SITE "R4"; // G
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "R5"; // F
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "T6"; // E
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "T3"; // D
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "T4"; // C
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "R6"; // B
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[6]" SITE "P7"; // A
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[7]" SITE "R3"; // .
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;